{% extends 'base/base.html' %}

{% load static %}


{% block contenido %}
<h1 style="font-size: x-large;text-align: center;margin: 20px;">
    <strong>ESTADISTICAS</strong>
</h1>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div id="container">

            </div>

        </div>

    </div>
</div>

<div style="margin: 20px;">

    <h3><strong>Alquiladas Zona Norte y Tipo Propiedad</strong></h3>
    <p>propiedades alquiladas en zona Norte y son tipo Casa: {{alquiladas_zonaNorteYtipoCasa}}</p>
    <p>propiedades alquiladas en zona Norte y son tipo Depto: {{alquiladas_zonaNorteYtipoDepto}}</p>
    <p>propiedades alquiladas en zona Norte y son tipo Habitacion: {{alquiladas_zonaNorteYtipoHabi}}</p>

    <h3><strong>Alquiladas Zona Sur y Tipo Propiedad</strong></h3>
    <p>propiedades alquiladas en zona Sur y son tipo Casa: {{alquiladas_zonaSurYtipoCasa}}</p>
    <p>propiedades alquiladas en zona Sur y son tipo Depto: {{alquiladas_zonaSurYtipoDepto}}</p>
    <p>propiedades alquiladas en zona Sur y son tipo Habitacion: {{alquiladas_zonaSurYtipoHabi}}</p>

    <h3><strong>Alquiladas Zona Este y Tipo Propiedad</strong></h3>
    <p>propiedades alquiladas en zona Este y son tipo Casa: {{alquiladas_zonaEsteYtipoCasa}}</p>
    <p>propiedades alquiladas en zona Este y son tipo Depto: {{alquiladas_zonaEsteYtipoDepto}}</p>
    <p>propiedades alquiladas en zona Este y son tipo Habitacion: {{alquiladas_zonaEsteYtipoHabi}}</p>

    <h3><strong>Alquiladas Zona Oeste y Tipo Propiedad</strong></h3>
    <p>propiedades alquiladas en zona Oeste y son tipo Casa: {{alquiladas_zonaOesteYtipoCasa}}</p>
    <p>propiedades alquiladas en zona Oeste y son tipo Depto: {{alquiladas_zonaOesteYtipoDepto}}</p>
    <p>propiedades alquiladas en zona Oeste y son tipo Habitacion: {{alquiladas_zonaOesteYtipoHabi}}</p>
   
    
</div>

<script>
    Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Preferencia de alquiler por zona y tipo de propiedad'
    },
    subtitle: {
        text: 'Reportes'
    },
    xAxis: {
        categories: [
            'Zona Norte',
            'Zona Sur',
            'Zona Este',
            'Zona Oeste'
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Tipo Propiedad'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'Tipo Casa',
        data: {{datosCasa}}

    }, {
        name: 'Tipo Departamento',
        data: {{datosDepto}}

    }, {
        name: 'Tipo Habitacion',
        data: {{datosHabi}}

    }]
});
</script>



{% endblock %}