{% extends 'base/base.html' %}

{% block contenido %}
    <style>
        div#addPropiedades{
            border: 1px solid black;
            padding: 2em;
            text-align: center;
            margin-bottom: 2em;
        }
        div#addPropiedades a{
            padding: 1em;
            color: #ffffff;
            margin: 1em;
            background-color: darkblue;
        }
        table a{
            margin-right: 1em;
            background-color: black;
        }
        table{
        caption-side: bottom;
        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;
    }

    td,th{
        border: 2px solid black;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        
    }

    th{
        background-color: #BA2100;
        color: white;
    }

    caption{
        padding-top: 20px;
        font-style: italic;
        text-align: center;
    }
    td{
        text-align: center;
        color: black;
    }
    </style>


    <h1 style="font-size: x-large;text-align: center;margin: 20px;color: black;">
        <strong>ESTADISTICAS</strong>
    </h1>
    <h3 style="color: black;text-align: center;">Propiedades y Tiempo <strong>SIN ALQUILAR</strong> </h3>
   

    <div class="container">

        <div class="row">

            <div class="col-sm-2" style="border: 1px solid black;">

                <form action="" method="POST">
                    {% csrf_token %}

                    <label for="buscarID">ID Propiedad: </label>
                    <input type="text" name="buscarID" id="buscarID" placeholder="ID " maxlength="5" size="15"><br><br>

                    <input type="submit" value="Buscar">

                </form>

            </div>

            
            <!-- COMIENZA LA TABLA -->
            
            <div class="col-sm-10">


                <table class="table-bordered" style="width: 100%;">
                    <thead class="thead-dark" style="background-color: black;">
                    <tr style="color: blanchedalmond; text-align: center;">
                        <th scope="col">ID PROPIEDAD</th>
                        <th scope="col">Estados De La Propiedad</th>
                        <th scope="col">Rango de Tiempo Sin Alquilar (desde-hasta)</th>
                    </tr>
                    </thead>

                    {% for prop in propiedades %}

                    <tbody>
                    <tr>
                        <td>{{prop.propiedad.id}}</td>
                        <td>{{prop.estado}}</td>
                        <td>{{prop.fec_inicio}}  <i class='fas fa-window-minimize' style="font-size: 20px;margin-bottom: 5px;"></i> 
                            {% if prop.fec_fin %} {{prop.fec_fin}}
                            {% else %} no cambio su estado
                             {% endif %}
            
                        </td>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>

            </div>

        </div>

    </div>

    {{mensaje}}


{% endblock %}
