{% extends "base/base.html" %}

{% load static %}

{% block contenido %}
<!-- EN EL ASIDE VA EL CONTENIDO REFERIDO A OFERTAS DE LAS PROPIEDADES, EN ESTE CASO EL ASIDE SE SITUA
ABAJO DE LA BARRA DE NAVEGACION (NAV).  -->
<aside id="fh5co-hero" class="js-fullheight">
    <div class="flexslider js-fullheight">
        <!-- AL CARRUSEL SE LO TRABAJA COMO UNA LISTA, POR AHORA SOLO TIENE 3 ofertas-->
        
        <ul class="slides">
            <li style="background-image: url({% static 'base/images/dormitorio.jpg' %});">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4 col-md-pull-4 js-fullheight slider-text">
                            <div class="slider-text-inner">
                                <div class="desc">
                                    <span class="status">OFERTA</span>
                                    <h1>Nuevo Dormitorio en Sumalao</h1>
                                        <h2 class="price">$10.000</h2>
                                        <p>Nuevo Dormitorio para alquilar, dos habitaciones al precio de una
                                            , cada habitacion incluye vestidor propio.</p>
                                        <p class="details">
                                            <span>20 metros cuadrados</span>
                                            <span>2 Dormitorios</span>
                                            <span>1 Baño</span>
                                            <span>Vestidor</span>
                                        </p>
                                        <p><a class="btn btn-primary btn-lg" href="#">Mas Info</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url({% static 'base/images/alquiler2.jpg' %});">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4 col-md-pull-4 js-fullheight slider-text">
                            <div class="slider-text-inner">
                                <div class="desc">
                                    <span class="status">OFERTA</span>
                                    <h1>Nueva casa en Las Juntas</h1>
                                        <h2 class="price">$100.000</h2>
                                        <p>Nueva Casa en oferta para alquilar, gran comodidad, ubicada en Ambato- Las Juntas.</p>
                                        <p class="details">
                                            <span>100 metros cuadrados</span>
                                            <span>4 Dormitorios</span>
                                            <span>2 Baños</span>
                                            <span>2 Garages</span>
                                        </p>
                                        <p><a class="btn btn-primary btn-lg" href="#">Mas Info</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url({% static 'base/images/depto.jpg' %});">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4 col-md-pull-4 js-fullheight slider-text">
                            <div class="slider-text-inner">
                                <div class="desc">
                                    <span class="status">OFERTA</span>
                                    <h1>Nuevo Depto en Capital </h1>
                                        <h2 class="price">$25.000</h2>
                                        <p>Nuevo Depto a un buen precio, amoblado. Se permiten mascotas</p>
                                        <p class="details">
                                            <span>50 metros cuadrados</span>
                                            <span>2 Dormitorios</span>
                                            <span>2 Baños</span>
                                            <span>Cocina-Comedor</span>
                                        </p>
                                        <p><a class="btn btn-primary btn-lg" href="#">Mas Info</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>		   	
        </ul>
    </div>
</aside>

<!-- EL DIV PRINCIPAL CONTIENE OTROS DOS, EL QUE SE POSICIONA A LA IZQ ES EL BUSCADOR DE PROPIEDADES
EL DE LA DERECHA SOLO SE USA PARA PONER UNA IAMAGEN ILUSTRATIVA	-->
<div id="fh5co-search-map">
    <div class="search-property">
        <div class="s-holder">
            <h2>Buscar Propiedades</h2>
            <form action="propiedades/buscar/" method="GET">
                <div class="row">
                    <div class="col-xxs-12 col-xs-12">
                        <div class="input-field">
                            <label for="from">Palabra Clave:</label>
                            <input type="text" class="form-control" id="from-place" name="palclave" placeholder="Palabra Clave"/>
                        </div>
                    </div>
                    <div class="col-xxs-12 col-xs-12">
                        <section>
                            <label for="tipo_prop">Tipo de Propiedad:</label>
                            <select class="cs-select cs-skin-border">
                                <option value="" disabled selected>Elija Opcion</option>
                                <option value="1">Casa</option>
                                <option value="2">Departamento</option>
                                <option value="3">habitacion</option>
                            </select>
                        </section>
                    </div>
                    <div class="col-xxs-12 col-xs-12">
                        <section>
                            <label for="from">Capacidad:</label>
                            <input type="text"  placeholder="Capacidad"/>
                        </section>
                    </div>
                    <div class="col-xxs-12 col-xs-12">
                        <div class="input-field">
                            <label for="from">Ubicacion:</label>
                            <input type="text" class="form-control" id="from-place" placeholder="Ubicacion"/>
                        </div>
                    </div>
                    <div class="col-xxs-12 col-xs-12">
                        <section>
                            <label for="class">Precio:</label>
                            <div class="wide">
                                <select class="cs-select cs-select-half cs-skin-border input-half">
                                    <option value="" disabled selected>Rango 1</option>
                                    <option value="1">$5.000</option>
                                    <option value="2">$10.000</option>
                                </select>
                                <select id="rango2" class="cs-select cs-select-half cs-skin-border input-half">
                                    <option value="" disabled selected>Rango 2</option>
                                    <option value="1">$50.000</option>
                                    <option value="2">$100.000</option>
                                </select>
                            </div>
                        </section>
                    </div>
                    <div class="col-xxs-12 col-xs-12">
                        <div class="input-field">
                            
                            <label for="from">Dormitorios:</label>
                            <input type="text"  placeholder="1"/>
                        </div>	
                    </div>
                    <div class="col-xxs-12 col-xs-12">
                        <section>
                            <label for="class">Baños:</label>
                                <select class="cs-select cs-skin-border">
                                    <option value="" disabled selected>Elija Opcion</option>
                                    <option value="1">1 Baño</option>
                                    <option value="2">2 Baños</option>
                                </select>
                        </section>
                    </div>
                    <div class="col-xxs-12 col-xs-12">
                        <section>
                            <label for="class">Zona:</label>
                                <select class="cs-select cs-skin-border">
                                    <option value="" disabled selected>Elija Opcion</option>
                                    <option value="1">Norte</option>
                                    <option value="2">Sur</option>
                                    <option value="2">Este</option>
                                    <option value="2">Oeste</option>
                                </select>
                        </section>
                    </div>
                    <div class="col-xxs-12 col-xs-12">
                        <section>
                            <label for="class">Garage:</label>
                                <select class="cs-select cs-skin-border">
                                    <option value="" disabled selected>Cantidad</option>
                                    <option value="1">1 Lugar</option>
                                    <option value="2">2 Lugares</option>
                                </select>
                        </section>
                    </div>
                    <div class="col-xxs-12 col-xs-12 text-center">
                        <p><input type="submit" class="btn btn-primary btn-lg" value="Buscar"></p>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
    <div class="map" style="background-image: url({% static 'base/images/busqueda-propiedad.jpg' %});">
    </div>
</div>

<div id="fh5co-popular-properties" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3>Propiedades Populares</h3>
                <p>En esta seccion podra ver las propiedades mas populares y mas buscadas por nuestros Clientes.</p>
            </div>
        </div>
        <div class="row">
            
            <div class="col-md-4 animate-box">
                <a href="#" class="fh5co-property" style="background-image: url({% static 'base/images/Casa_pileta1.jpg' %});">
                    <span class="status">Alquila</span>
                    <div class="prop-details">
                        <span class="price">$30.000 mensual</span>
                        <h3>Propiedad en zona norte, Capital San Fernando, Cta</h3>
                    </div>
                </a>
            </div>

        </div>

    </div>
</div>

<div id="fh5co-about" class="fh5co-agent">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3>Nuestros Agentes</h3>
                <p>Desarrolladores de la pagina web.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 text-center animate-box" data-animate-effect="fadeIn">
                <div class="fh5co-staff">
                    <img class="img-responsive" src="{% static 'base/images/user-1.jpg' %}" alt="Free HTML5 Templates by freeHTML5.co">
                    <h3>Maxi Avellaneda</h3>
                    <p>HTML5-CSS-JAVASCRIPT</p>
                    <p class="fh5co-social-icons">
                        <a href="#"><i class="icon-twitter2"></i></a>
                        <a href="#"><i class="icon-facebook2"></i></a>
                        <a href="#"><i class="icon-instagram"></i></a>
                        <a href="#"><i class="icon-dribbble2"></i></a>
                        <a href="#"><i class="icon-youtube"></i></a>
                    </p>
                </div>
            </div>
            <div class="col-sm-3 text-center animate-box" data-animate-effect="fadeIn">
                <div class="fh5co-staff">
                    <img class="img-responsive" src="{% static 'base/images/user-2.jpg' %}" alt="Free HTML5 Templates by freeHTML5.co">
                    <h3>Miguel Cejas</h3>
                    <p>HTML5-CSS-JAVASCRIPT</p>
                    <p class="fh5co-social-icons">
                        <a href="#"><i class="icon-twitter2"></i></a>
                        <a href="#"><i class="icon-facebook2"></i></a>
                        <a href="#"><i class="icon-instagram"></i></a>
                        <a href="#"><i class="icon-dribbble2"></i></a>
                        <a href="#"><i class="icon-youtube"></i></a>
                    </p>
                </div>
            </div>
            <div class="col-sm-3 text-center animate-box" data-animate-effect="fadeIn">
                <div class="fh5co-staff">
                    <img class="img-responsive" src="{% static 'base/images/user-3.jpg' %}" alt="Free HTML5 Templates by freeHTML5.co">
                    <h3>Pildoras Informaticas</h3>
                    <p>HTML5-CSS-JAVASCRIPT</p>
                    <p class="fh5co-social-icons">
                        <a href="#"><i class="icon-twitter2"></i></a>
                        <a href="#"><i class="icon-facebook2"></i></a>
                        <a href="#"><i class="icon-instagram"></i></a>
                        <a href="#"><i class="icon-dribbble2"></i></a>
                        <a href="#"><i class="icon-youtube"></i></a>
                    </p>
                </div>
            </div>
            <div class="col-sm-3 text-center animate-box" data-animate-effect="fadeIn">
                <div class="fh5co-staff">
                    <img class="img-responsive" src="{% static 'base/images/user-4.jpg' %}" alt="Free HTML5 Templates by freeHTML5.co">
                    <h3>HTML5</h3>
                    <p>HTML5-CSS-JAVASCRIPT</p>
                    <p class="fh5co-social-icons">
                        <a href="#"><i class="icon-twitter2"></i></a>
                        <a href="#"><i class="icon-facebook2"></i></a>
                        <a href="#"><i class="icon-instagram"></i></a>
                        <a href="#"><i class="icon-dribbble2"></i></a>
                        <a href="#"><i class="icon-youtube"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
