{% extends 'base/base.html' %}
{% load static %}

{% block contenido %}
    <h1 style="text-align: center; margin: 10px;"><strong>RESULTADOS BUSQUEDA PROPIEDADES</strong></h1>
    <h3><strong>Estas filtrando por : <br></strong> </h3>
    <p>
        
        {% if idpro %}
            <strong>*ID Propiedad:</strong>  {{idpro}} <br>
        {% endif %}  
        {% if capacidad %}
            <strong>*Capacidad:</strong> {{capacidad}} <br>
        {% endif %}  
        {% if cant_banios %}
            <strong>*Cantidad baños:</strong> {{cant_banios}} <br>
        {% endif %}
        {% if tipo_propiedad != "ninguna" %}
            <strong>*Tipo de propiedad:</strong> {{tipo_propiedad}} <br>
        {% endif %}
        {% if dormitorios %}
            <strong>*Dormitorios:</strong> {{dormitorios}} <br>
        {% endif %}  
        {% if zona %}
            <strong>*Zona:</strong> {{zona}} <br>
        {% endif %}
        {% if precio1 %}
            <strong>*Precio : </strong> ${{precio1}} 
        {% endif %}

    </p>

    <br>

    <h2 ><strong>SE ENCONTRARON: ({{propiedades|length}}) RESULTADOS</strong>  </h1>
    
    
    {% if propiedades %}
        
        <ul>
            {% for pro in propiedades %}

                <li>
                    <p> 
                        ID Propiedad: {{pro.id}} 
                        | Capacidad: {{pro.capacidad}} 
                        | Cantidad de Baños: {{pro.cant_banios}}  
                        |{% if tipo_propiedad == "ninguna" %}
                            Tipo de Propiedad: 
                                {{pro.propiedadcasa.tipo_propiedad}} 
                                {{pro.propiedaddepto.tipo_propiedad}}
                                {{pro.propiedadhabitacion.tipo_propiedad}}
                        {% else %}
                            Tipo de Propiedad: {{pro.tipo_propiedad}}
                        {% endif %}
                        | Dormitorios: {{pro.cant_ambientes}}
                        | Cantidad Baños: {{pro.cant_banios}}
                        | Zona: {{pro.zona_set.desc_zona}}
                        
                    </p>
                </li>

            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontro ningun resultado con los valores ingresados</p>
    {% endif %}

{% endblock %}
