{% extends "base/base.html" %}

{% load static %}

{% block contenido %}

<style>
    div#addPropiedades{
        border: 1px solid black;
        padding: 2em;
        text-align: center;
        margin-bottom: 2em;
    }
    div#addPropiedades a{
        padding: 1em;
        color: #ffffff;
        margin: 1em;
        background-color: darkblue;
    }
    table a{
        margin-right: 1em;
        background-color: black;
    }
</style>

<h1 style="text-align: center;">LISTADO DE OFERTAS</h1>

<div id="addPropiedades">
    <a href="{% url 'nueva_oferta' %}">NUEVA OFERTA</a>
</div>

<table class="table-bordered" style="width: 100%;">
    <thead class="thead-dark" style="background-color: black;">
    <tr style="color: blanchedalmond; text-align: center;">
        <th scope="col">ID</th>
        <th scope="col">Datos</th>
        <th scope="col">Opciones</th>
    </tr>
    </thead>
    {% for oferta in ofertas %}
    <tbody>
    <tr>
        <th scope="row">{{oferta.propiedad.id}}</th>
        <td>{{oferta.propiedad.tipo_propiedad}}</td>
        <td>
            <a href="{% url 'modificar_oferta' oferta.id %}">Modificar</a> 
            <a href="{% url 'eliminar_oferta' oferta.id %}">Eliminar</a>
        </td>
    </tr>
    </tbody>
    {% endfor %}
</table>

{% endblock %}