{% extends 'base/base.html' %}

{% block contenido %}
    <h1 style="text-align: center;">LISTADO DE PROPIEDADES</h1>

    <table>
        <tr>
            <th>DATOS</th>
            <th>OPCIONES</th>
        </tr>
        {% if propiedades%}
            {% for prop in propiedades%}
        <tr>    
            <td>{{prop}}</td>
            <td><a href="{% url 'modificar_propiedad' prop.id %}">Modificar</a> 
                <a href="{% url 'eliminar_propiedad' prop.id %}">Eliminar</a></td>
        </tr>    
            {% endfor %}
        {% else %}
            <p> NO HAY PROPIEDADES EN LA BASE DE DATOS</p>    
        {% endif %}
            
    
    </table>

    {{mensaje}}
    

{% endblock %}
