{% extends "base/base.html" %}

{% load static %}

{% block contenido %}

<style>
    div.container{

        margin-bottom: 1em;
        margin-top: 1em;

    }

    div.form-group.row{

        margin-top: 1em;
        margin-left: 1em;
        margin-right: 1em;
        vertical-align: middle;

    }

    div.input-field select{
        
        display: block;
        margin: 0;
        width: 100%;
    }
</style>

<div class="container" style="background-image: url({% static 'base/fondo-formulario.jpg' %});">
    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
    {% for field in form %}

        {% if field.id_for_label == 'id_capacidad_cochera' %}
        <div class="form-group row" id="capacidad_cochera" style="display: none;">
            <label for="{{field.id_for_label}}" class="col-sm-2 col-form-label" style="color: #fff;">{{field.label}}</label>
            <div class="col-sm-10">
                {{field}}{{field.errors}}
            </div>
        </div>
        {% else %}
        <div class="form-group row">
            <label for="{{field.id_for_label}}" class="col-sm-2 col-form-label" style="color: #fff;">{{field.label}}</label>
            <div class="col-sm-10">
                {{field}}{{field.errors}}
            </div>
        </div>
        {% endif %}

    {% endfor %}

    <!-- <div class="input-field">
        <label for="{{field.id_for_label}}">{{field.label}}</label>
        {{field}}{{field.errors}}
    </div> -->

        <div class="input-field" style="padding: 3em; text-align: center;" >
            <input class="btn-primary" type="submit" name="ENVIAR">
            <input class="btn-primary" type="reset" name="RESET">
        </div>
        <h3>{{mensaje}}</h3>

    </form>
</div>

<script>

function mostrar()  {
    let divCapacidad = document.getElementById("capacidad_cochera")
    let checkbox = document.getElementById("id_cochera")
    divCapacidad.style.display = "none"
    if(checkbox.checked){
        divCapacidad.style.display = "block"
    }
}   

</script>



{% endblock %}