{% extends "base/base.html" %}

{% block contenido %}

<style>
    div.input-field{
        margin-top: 1em;
        margin-left: 1em;
    }

    div.input-field select{
        
        display: block;
        margin: 0;
        width: 100%;
    }
</style>

<div class="container">
    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
    {% for field in form %}
        <div class="input-field">
            <label for="{{field.id_for_label}}" class="">{{field.label}}</label>
            {{field}}{{field.errors}}
        </div>
    {% endfor %}
        <div class="input-field" style="padding: 3em; text-align: center;" >
            <input class="btn-primary" type="submit" name="ENVIAR">
            <input class="btn-primary" type="reset" name="RESET">
        </div>
        <h3>{{mensaje}}</h3>
    </form>
</div>

{% endblock %}