<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Estas buscando: {{query}}</p>

    {% if propiedades %}
        <p>Propiedades encontradas: {{propiedades|length}} propiedad/es</p>

        <ul>
            {% for prop in propiedades %}

                <li>
                    {{prop.cod_propiedad}}
                </li>

            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontro la propiedad</p>
    {% endif %}
</body>
</html>