{% extends 'base/base.html' %}
{% load static %}

{% block contenido %}
    <h1 style="text-align: center; margin: 10px;"><strong>RESULTADOS BUSQUEDA PROPIEDADES</strong></h1>
    <h3><strong>Estas filtrando por : <br></strong> </h3>
    <p>
        
        {% if codpropiedad %}
            <strong>*Codigo Propiedad:</strong>  {{codpropiedad}} <br>
        {% endif %}  
        {% if capacidad %}
            <strong>*Capacidad:</strong> {{capacidad}} <br>
        {% endif %}  
        {% if cant_banios %}
            <strong>*Cantidad baños:</strong> {{cant_banios}} <br>
        {% endif %}
        {% if tipo_propiedad != "ninguna" %}
            <strong>*Tipo de propiedad:</strong> {{tipo_propiedad}} <br>
        {% endif %}
        {% if dormitorio %}
            <strong>*Dormitorios:</strong> {{dormitorio}} <br>
        {% endif %}  
        {% if zona %}
            <strong>*Zona:</strong> {{zona}} <br>
        {% endif %} 

    </p>

    <br>
    <h2 ><strong>SE ENCONTRO:</strong>  </h1>
    {% if propiedades %}
        
        <ul>
            {% for pro in propiedades %}

                <li>
                    <p> Codigo Propiedad: {{pro.cod_propiedad}} 
                        | Capacidad: {{pro.capacidad}} 
                        | Cantidad de Baños: {{pro.cant_banios}}  
                        |{% if tipo_propiedad == "ninguna" %}
                            Tipo de Propiedad: 
                            {{pro.propiedadcasa.tipo_propiedad}} 
                            {{pro.propiedaddepto.tipo_propiedad}}
                            {{pro.propiedadhabitacion.tipo_propiedad}}
                        {% else %}
                            Tipo de Propiedad: {{pro.tipo_propiedad}}
                        {% endif %}
                        | Dormitorios: {{pro.cant_ambientes}}
                        | Cantidad Baños: {{pro.cant_banios}}
                        | Zona: {{pro.zona.desc_zona}}
                        

                    </p>
                </li>

            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontro ningun resultado con los valores ingresados</p>
    {% endif %}

{% endblock %}

{% block aside %}
{% endblock %}

{% block busqueda %}
{% endblock %}

{% block propiedadespop %}
{% endblock %}
