{% extends 'base/base.html' %}
{% load static %}

{% block contenido %}
    <h1 style="text-align: center;"><strong>RESULTADOS BUSQUEDA PROPIEDADES</strong></h1>
    <p>Estas buscando: {{query}}</p>

    {% if codprop %}
        <p>Propiedades encontradas: {{codprop|length}} propiedad/es</p>
        
        <ul>
            {% for prop in codprop %}

                <li>
                    <p> Codigo Propiedad: {{prop.cod_propiedad}}   |  Tipo de Alquiler: {{prop.tipo_alquiler}}
                    | Capacidad: {{prop.capacidad}}
                    </p>
                </li>

            {% endfor %}
        </ul>
    {% endif %}    
    {% if capacpro %}
        <p>Capacidad de la propiedad: {{capacpro.capacidad}}</p>
        <ul>
            {% for cap in capacpro %}

                <li>
                    <p> Codigo Propiedad: {{cap.cod_propiedad}}   |  Capacidad: {{cap.capacidad}}</p>
                </li>

            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontro la propiedad</p>
    {% endif %}

{% endblock %}

{% block aside %}
{% endblock %}

{% block busqueda %}
{% endblock %}

{% block propiedadespop %}
{% endblock %}
