{% extends "contrato/mostrar_contrato.html" %}

{% load static %}


{% block titulo %}
<h3>¿ESTAS SEGURO DE CANCELAR EL CONTRATO NUMERO: {{id}}?</h3>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta accusamus esse pariatur dolorem blanditiis in, ratione, neque sed provident recusandae quis, id illo. Fugit mollitia dignissimos obcaecati aperiam blanditiis dolorum.</p>
{% endblock %}



{% block botones %}
<p style="color: black;">Esta seguro que desea cancelar el contrato?</p>
<button class="btn btn-danger" style="border: 1px solid black;"><a href="{% url "cancelar_contrato" id %}"> CONFIRMAR</a></button>
<button class="btn btn-light" style="border: 1px solid black;"><a href="{% url "listado_contratos" %}">CANCELAR</a></button>
{% endblock %}