{% extends "base/base.html" %}

{% load static %}

{% block contenido %}

<style>

    div#addPropiedades{
        text-align: center;
        margin-bottom: 2em;
    }

    div#addPropiedades button{
        margin-top: 2px;
        width: 20em;
    }

    div#addPropiedades button a{
        color: #ffffff;
    }

</style>

<div class="container">

<h1 style="text-align: center;">LISTADO DE CONTRATOS</h1>

<div id="addPropiedades">
    {% if perms.contrato.add_propietariopropiedad %}
        <button class="btn btn-primary btn-lg"><a href="{% url 'nuevo_contrato_propietario' %}">NUEVO CONTRATO PROPIETARIO</a></button>
    {% endif %}

    {% if perms.contrato.add_inquilinopropiedad %}
        <button class="btn btn-primary btn-lg"><a href="{% url 'nuevo_contrato_inquilino' %}">NUEVO CONTRATO INQUILINO</a></button>
    {% endif %}
</div>

<table class="table-bordered" style="width: 100%;">
    <thead class="thead-dark" style="background-color: black;">
    <tr style="color: blanchedalmond; text-align: center;">
        <th scope="col">ID</th>
        <th scope="col">CLIENTE</th>
        <th scope="col">TIPO CONTRATO</th>
        <th scope="col">FECHA ALTA</th>
        <th scope="col">FECHA FIN</th>
        <th scope="col">OPCIONES</th>
    </tr>
    </thead>
    <tbody>
    {% for contrato in propietarios %}
    <tr>
        <th scope="row">{{contrato.id}}</th>
        <td>{{contrato.propietario.personafisica.nombre}},{{contrato.propietario.personafisica.apellido}}{{contrato.propietario.personajuridica.razon_social}}</td>
        <td>CONTRATO PROPIEDAD</td>
        <td>{{contrato.fecha_alta}}</td>
        <td>{{contrato.fecha_inicio}}</td>
        <td>
            {% if perms.contrato.change_propietariopropiedad %}
            <button><a href="{% url 'modificar_contrato' contrato.id %}">Modificar</a></button>
            {% endif %}

            {% if perms.contrato.delete_propietariopropiedad %}
            <button><a href="{% url 'confirmar_contrato' contrato.id %}">Eliminar</a></button>
            {% endif %}

            <button><a href="{% url 'mostrar_contrato' contrato.id %}">Detalles</a></button>

        </td>
    </tr>
    {% endfor %}
    {% for contrato in inquilinos %}
    <tr>
        <th scope="row">{{contrato.id}}</th>
        <td>{{contrato.inquilino.personafisica.nombre}},{{contrato.inquilino.personafisica.apellido}}{{contrato.inquilino.personajuridica.razon_social}}</td>
        <td>CONTRATO ALQUILER</td>
        <td>{{contrato.fecha_alta}}</td>
        <td>{{contrato.fecha_inicio}}</td>
        <td>
            {% if perms.contrato.change_inquilinopropiedad %}
            <button><a href="{% url 'modificar_contrato' contrato.id %}">Modificar</a></button>
            {% endif %}

            {% if perms.contrato.delete_inquilinopropiedad %}
            <button><a href="{% url 'confirmar_contrato' contrato.id %}">Eliminar</a></button>
            {% endif %}

            <button><a href="{% url 'mostrar_contrato' contrato.id %}">Detalles</a></button>
            <button><a href="{% url 'confirmar_cancelacion' contrato.id %}">Cancelar</a></button>

        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

</div>

{% endblock %}