{% extends "base/base.html" %}

{% load static %}

{% block contenido %}

<style>
    div#addPropiedades{
        border: 1px solid black;
        padding: 2em;
        text-align: center;
        margin-bottom: 2em;
    }
    div#addPropiedades a{
        padding: 1em;
        color: #ffffff;
        margin: 1em;
        background-color: darkblue;
    }
    table a{
        margin-right: 1em;
        background-color: black;
    }
</style>

<h1 style="text-align: center;">LISTADO DE CONTRATOS</h1>

<div id="addPropiedades">
    {% if perms.contrato.add_propietariopropiedad %}
    <a href="{% url 'nuevo_contrato_propietario' %}">NUEVO CONTRATO PROPIETARIO</a>
    {% endif %}

    {% if perms.contrato.add_inquilinopropiedad %}
    <a href="{% url 'nuevo_contrato_inquilino' %}">NUEVO CONTRATO INQUILINO</a>
    {% endif %}
</div>

<table class="table-bordered" style="width: 100%;">
    <thead class="thead-dark" style="background-color: black;">
    <tr style="color: blanchedalmond; text-align: center;">
        <th scope="col">ID</th>
        <th scope="col">CLIENTE</th>
        <th scope="col">TIPO CONTRATO</th>
        <th scope="col">FECHA ALTA</th>
        <th scope="col">FECHA FIN</th>
        <th scope="col">OPCIONES</th>
    </tr>
    </thead>
    <tbody>
    {% for contrato in propietarios %}
    <tr>
        <th scope="row">{{contrato.id}}</th>
        <td>{{contrato.propietario.personafisica.nombre}},{{contrato.propietario.personafisica.apellido}}{{contrato.propietario.personajuridica.razon_social}}</td>
        <td>CONTRATO PROPIEDAD</td>
        <td>{{contrato.fecha_alta}}</td>
        <td>{{contrato.fecha_fin}}</td>
        <td>
            {% if perms.contrato.change_propietariopropiedad %}
            <a href="{% url 'modificar_contrato' contrato.id %}">Modificar</a> 
            {% endif %}

            {% if perms.contrato.delete_propietariopropiedad %}
            <a href="{% url 'eliminar_contrato' contrato.id %}">Eliminar</a>
            {% endif %}

        </td>
    </tr>
    {% endfor %}
    {% for contrato in inquilinos %}
    <tr>
        <th scope="row">{{contrato.id}}</th>
        <td>{{contrato.inquilino.personafisica.nombre}},{{contrato.inquilino.personafisica.apellido}}{{contrato.inquilino.personajuridica.razon_social}}</td>
        <td>CONTRATO ALQUILER</td>
        <td>{{contrato.fecha_alta}}</td>
        <td>{{contrato.vigencia_alquiler}}</td>
        <td>
            {% if perms.contrato.change_inquilinopropiedad %}
            <a href="{% url 'modificar_contrato' contrato.id %}">Modificar</a> 
            {% endif %}

            {% if perms.contrato.delete_inquilinopropiedad %}
            <a href="{% url 'eliminar_contrato' contrato.id %}">Eliminar</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}