{% extends "base/base.html" %}

{% load static %}

{% block contenido %}

<style>

    div.col-sm-5 p{
        color: black;
    }

    div.col-sm-7 p{
        padding-left: 1em;
        /* border: 1px solid black; */
        color: red;
        /* width: 85%; */
    }

</style>


<div class="container" style="text-align: center; margin-bottom: 1em;">

    {% block titulo %}

    {% endblock %}

    {% if contrato.comision %}
    <div class="row">
        <div class="col-sm-5" style="text-align: right;">
            <p>ID:</p>                                  
            <p>Cliente:</p>
            <p>Tipo de Cliente:</p>  
            <p>Direccion:</p>  
            <p>Propiedad:</p>
            <p>Comision:</p>
            <p>Importe:</p>
            <p>fecha_inicio:</p>
            <p>fecha_fin:</p>          
        </div>
        <div class="col-sm-7" style="text-align: left;">
            <strong>
            <p>{{contrato.pk}}</p>
            <p>{{contrato.propietario}}</p>            
            <p>{{contrato.propietario.desc_per}}</p>
            <p>{{contrato.propietario.provincia}},{{contrato.propietario.localidad}},{{contrato.propietario.barrio}},{{contrato.propietario.calle}},{{contrato.propietario.numero}}</p>
            <p>{{contrato.propiedad}}</p>
            <p>{{contrato.comision}}</p>
            <p>{{contrato.propiedad.precio}}</p>
            <p>{{contrato.fecha_inicio}}</p>
            <p>{{contrato.fecha_fin}} </p>
            </strong>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-sm-5" style="text-align: right;">
            <p>ID:</p>                                  
            <p>Cliente:</p>
            <p>Tipo de Cliente:</p>  
            <p>Direccion:</p>  
            <p>Propiedad:</p>
            <p>Cantidad de personas:</p>
            <p>Importe Total:</p>
            <p>fecha_inicio:</p>
            <p>fecha_fin:</p>          
        </div>
        <div class="col-sm-7" style="text-align: left;">
            <strong>
            <p>{{contrato.pk}}</p>
            <p>{{contrato.inquilino}}</p>            
            <p>{{contrato.inquilino.desc_per}}</p>
            <p>{{contrato.inquilino.provincia}},{{contrato.inquilino.localidad}},{{contrato.inquilino.barrio}},{{contrato.inquilino.calle}},{{contrato.inquilino.numero}}</p>
            <p>{{contrato.propiedad}}</p>
            <p>{{contrato.cant_personas}}</p>
            <p>{{contrato.importe_total}}</p>
            <p>{{contrato.fecha_inicio}}</p>
            <p>{{contrato.fecha_fin}} </p>
            </strong>
        </div>
    </div>



    {% endif %}
    <br>
    <br>

    {% block botones %}
    <button class="btn btn-primary" style="border: 1px solid black;"><a style="color: white;" href="{% url "listado_contratos" %}">VOLVER</a></button>
    {% endblock %}
</div>



{% endblock %}