{% extends "base/base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block contenido %}

<style>
    div.container{
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    div.container div.row#inicio{
        margin: 0 auto;
        width: 50%; 
        background-color: aquamarine;
        padding: 1em;
    }
</style>


<div class="container">
    <h3>INGRESO AL SISTEMA</h3>
    <div class="row" id="inicio">

        <form action="" method="POST">
            {% csrf_token %}

            {{form|crispy}}

            <input type="submit" value="Entrar" class="btn btn-primary">
        </form>
    </div>

</div>

{% endblock %}
